/* ------------------------------------------------------ */
/**
* area blog
*/

.sec-blog {
	// background: $bg-light-gray;
	background-color: #ebebeb;
	// padding: 96px 0 160px;
	margin-bottom: 0;

	.blog-container {
		height: 100%;
		position: relative;
		width: 100%;

		.swiper-container {
			height: 100%;
			margin: 0 auto;
			padding: 0 16px;
			width: calc(#{$container-width} - 96px);
		}

		.slick-slide {
			width: 325px;
		}

		.slick-list {
			height: 288px;
			padding: 0 26px!important;
		}

		.slick-current {
			margin: 0 24px;
		}

		.swiper-slide {
			align-items: center;
			/* Center slide text vertically */
			display: flex;
			font-size: 18px;
			// width: calc(var(--columnSize) * 3);
			height: 280px;
			justify-content: center;
			overflow: hidden;
			position: relative;
			text-align: center;


			a {
				// display: block;
				text-decoration: none;
				.overlay {
					background-color: rgba(0, 0, 0, .4);
					height: 280px;
					left: 0;
					position: absolute;
					top: 0;
					transition: all .6s ease;
					width: 100%;
					z-index: 3;
				}
				.area-img {
					height: 280px;
					left: 0;
					position: absolute;
					top: 0;
					img {
						height: 280px;
						object-fit: cover;
						transition: all .6s ease;
						width: 100%;
					}
				}
				.wrap-blog-ttl {
					bottom: 16px;
					color: $white;
					height: 64px;
					left: 0;
					position: absolute;
					text-align: center;
					width: 100%;
					// margin-top: -32px;
					z-index: 10;
					.area-ttl-en {
						font-family: $type-title-jp;
						font-size: 1.6rem;
						font-weight: bold;
						line-height: 1.4;
						margin-bottom: 8px;
					}
					.area-ttl-jp {
						font-family: $type-title-jp;
						font-size: 1.4rem;
						font-weight: normal;
						line-height: 1.4;
					}
				}
				&:hover {
					text-decoration: none;
					.overlay {
						background-color: rgba(0, 0, 0, .2);
					}
					.area-img {
						img {
							transform: scale(1.05, 1.05);
						}
					}
				}
			}
		}

		.slick-arrow {
			border: 1px solid $secondary-lightgray;
			border-radius: 30px;
			display: inline-block;
			font-family: $type-title2-en;
			font-size: 2rem;
			height: 46px;
			line-height: 2.4;
			text-align: center;
			text-decoration: none;
			transition: $transition-slow;
			width: 46px;

			&:hover {
				border: 1px solid $black;
				color: $black;
				text-decoration: none;
			}
		}
		.slick-prev {
			background: url(/images/ar_back_black_s.svg) center center no-repeat;
			background-color: rgba(234, 234, 234, .5);
			left: 50%;
			margin-left: calc(var(--columnSize) * -6);
			position: absolute;
			text-indent: -9999px;
			top: 140px;
			z-index: 10;
		}
		.slick-next {
			background: url(/images/ar_next_black_s.svg) center center no-repeat;
			background-color: rgba(234, 234, 234, .5);
			margin-right: calc(var(--columnSize) * -6);
			position: absolute;
			right: 50%;
			text-indent: -9999px;
			top: 140px;
			z-index: 11;
		}
	}
}

// SP
@media (max-width: 767px) {
	.sec-blog {
		background: $bg-light-gray;
		padding: 40px 0 64px;
		// .wrap-sec-ttl {
		//   padding: 0 16px 16px;
		//   &:before {
		//     left: 16px;
		//   }
		// }
		.blog-container {
			// width: 100%;
			// height: 100%;
			// position: relative;
			overflow: hidden;

			.swiper-container {
				height: 100%;
				margin: 0;
				padding: 0 16px;
				// width: calc(#{$container-width} - 96px);
				// width: calc(#{$container-width} - 96px);
				width: 100%;
			}

			.swiper-slide {
				font-size: 18px;
				// width: calc(var(--columnSize) * 3);
				height: 240px;
				text-align: center;
				/* Center slide text vertically */
				// display: flex;
				// justify-content: center;
				// align-items: center;
				// overflow: hidden;
				// position: relative;

				a {
					// display: block;
					// text-decoration: none;
					.overlay {
						height: 240px;
						width: 100%;
						// background-color: rgba(0, 0, 0, 0.4);
						// position: absolute;
						// left: 0;
						// top: 0;
					}
					.area-img {
						height: 240px;
						// position: absolute;
						// left: 0;
						// top: 0;
						img {
							height: 240px;
							width: 100%;
							// object-fit: cover;
						}
					}
					.wrap-blog-ttl {
						bottom: 8px;
						height: 64px;
						left: 0;
						padding: 0 16px;
						position: absolute;
						// color: $white;
						// text-align: center;
						width: 100%;
						// margin-top: -32px;
						// z-index: 10;
						.area-ttl-en {
							// font-family: $type-title-jp;
							// font-weight: bold;
							font-size: 1.4rem;
							// line-height: 1.4;
							// margin-bottom: 8px;
						}
						.area-ttl-jp {
							// font-family: $type-title-jp;
							// font-weight: normal;
							font-size: 1.3rem;
							// line-height: 1.4;
						}
					}
					// &:hover {
					//   text-decoration: none;
					//   .overlay {
					//     background-color: rgba(0, 0, 0, 0.2);
					//   }
					//   .area-img {
					//     img {
					//       transform: scale(1.05, 1.05);
					//     }
					//   }
					// }
				}
			}

			.pagenation {
				// width: 46px;
				// height: 46px;
				// border: 1px solid $secondary-lightgray;
				// border-radius: 30px;
				// display: inline-block;
				// font-size: 2rem;
				// line-height: 2.4;
				// font-family: $type-title2-en;
				// text-align: center;
				// transition: $transition-slow;
				// text-decoration: none;

				// &:hover {
				//   border: 1px solid $black;
				//   text-decoration: none;
				//   color: $black;
				// }
			}
			.pre-post {
				left: 0;
				margin-left: 0;
				position: absolute;
				top: 140px;
				// z-index: 10;
				// text-indent: -9999px;
				// background: url(/images/ar_back_black_s.svg) center center no-repeat;
				// background-color: $bg-light-gray;
			}
			.next-post {
				margin-right: 0;
				position: absolute;
				right: 0;
				top: 140px;
				// z-index: 11;
				// text-indent: -9999px;
				// background: url(/images/ar_next_black_s.svg) center center no-repeat;
				// background-color: $bg-light-gray;
			}
		}
	}
}