/* ------------------------------------------------------ */
/**
* Home sec company
*/
.home {
	.sec-company {
		.content-container {
			padding: 0 0;
			.sec-company-list {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				margin: 0;
				width: $container-width;
				.wrap-area {
					padding: 0 16px;
					width: calc(var(--columnSize) * 4);
					.area-content {
						width: 100%;
						a {
							display: block;
							height: 220px;
							position: relative;
							text-decoration: none;
							width: 100%;
							.overlay {
								background-color: rgba(0, 0, 0, .4);
								height: 100%;
								left: 0;
								position: absolute;
								top: 0;
								transition: all .6s ease;
								width: 100%;
								z-index: 3;
							}
							.area-img {
								height: 220px;
								overflow: hidden;
								width: 100%;
								img {
									height: 220px;
									object-fit: cover;
									transition: all .6s ease;
									width: 100%;
								}
							}
							&:hover {
								background-size: cover;
								text-decoration: none;
								.overlay {
									background-color: rgba(0, 0, 0, .1);
								}
								.area-img {
									img {
										transform: scale(1.05, 1.05);
									}
								}
							}
						}
						.wrap-ttl {
							color: $black;
							height: 160px;
							padding: 24px 12px;
							text-align: left;
							width: 100%;
							a {
								color: $black;
								transition: all .5s ease;
								.area-ttl-en {
									font-family: $type-title2-en;
									font-size: 2rem;
									font-weight: 400;
									line-height: 1.4;
									margin-bottom: 8px;
								}
								.area-ttl-jp {
									font-family: $type-title-jp;
									font-size: 1.6rem;
									font-weight: bold;
									line-height: 1.4;
								}
								&:hover {
									opacity: .5;
								}
							}
						}
					}
				}
			}
		}
	}
}
.home.en {
	.sec-company {
		.content-container {
			.sec-company-list {
				.wrap-area {
					.area-content {
						.wrap-ttl {
							a {
								.area-ttl-jp {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
//IE11
.home.ie {
	.sec-company {
		.content-container {
			.sec-company-list {
				width: 1152px;
				.wrap-area {
					width: 384px;
					.area-content {
						a {
							.area-img {
								img {
									font-family: "object-fit: cover;";
									height: 220px;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.home {
		.sec-company {
			.content-container {
				padding: 0 8px;
				width: 100%;
				.sec-company-list {
					margin: 0;
					width: 100%;
					.wrap-area {
						padding: 0 8px;
						width: 50%;
						.area-content {
							width: 100%;
							a {
								height: 240px;
								width: 100%;
								.overlay {
									background-color: rgba(0, 0, 0, .2);
								}
								.area-img {
									height: 240px;
									width: 100%;
									img {
										height: 240px;
										width: 100%;
									}
								}
							}
							.wrap-ttl {
								color: $black;
								height: 120px;
								padding: 16px 0;
								text-align: left;
								width: 100%;
								a {
									.area-ttl-en {
										font-size: 1.6rem;
									}
									.area-ttl-jp {
										font-size: 1.4rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// SP
@media (max-width: 767px) {
	.home {
		.sec-company {
			.content-container {
				padding: 0 8px;
				width: 100%;
				.sec-company-list {
					margin: 0;
					width: 100%;
					.wrap-area {
						padding: 0 8px;
						width: 50%;
						.area-content {
							width: 100%;
							a {
								height: 120px;
								width: 100%;
								.overlay {
									background-color: rgba(0, 0, 0, .2);
								}
								.area-img {
									height: 120px;
									width: 100%;
									img {
										height: 120px;
										width: 100%;
									}
								}
							}
							.wrap-ttl {
								color: $black;
								height: 120px;
								padding: 16px 0;
								text-align: left;
								width: 100%;
								a {
									.area-ttl-en {
										font-size: 1.6rem;
									}
									.area-ttl-jp {
										font-size: 1.4rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
* Company Nav
*/
// .company-nav {
//   width: calc(var(--columnSize) * 8);
//   margin: 0 auto 64px;
//   padding: 120px 0 96px;
//   ul {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     li {
//       a {
//         font-size: 1.5rem;
//         text-decoration: none;
//       }
//     }
//   }
// }

/* ------------------------------------------------------ */
/**
*  Company Information
*/
.company-information {
	margin-top: 64px;
	.content-container {
		// padding: 0 16px;
		.company-information-talbe {
			color: $black;
			font-size: 1.5rem;
			letter-spacing: .05rem;
			.company-information-talbe-row {
				border-bottom: 1px solid $secondary-lightgray;
				display: flex;
				justify-content: space-between;
				.company-information-talbe-key {
					margin: 24px 0;
					padding: 24px 8px;
					width: calc(var(--columnSize) * 3);
				}
				.company-information-talbe-value {
					margin: 24px 0;
					padding: 24px 8px;
					text-align: left;
					width: calc(var(--columnSize) * 8);

					.em {
						font-weight: bold;
						// color: $secondary-gray;
					}
					.company-information-isms {
						border: 1px solid $secondary-lightgray;
						display: inline-block;
						margin: 16px 0 0;
						padding: 0 10px;
						width: 302px;
						.gatsby-image-wrapper {
							height: auto;
							width: 300px!important;
						}
					}
				}
			}
		}
	}
}
// IE11
.ie {
	.company-information {
		.content-container {
			.company-information-talbe {
				.company-information-talbe-row {
					.company-information-talbe-key {
						width: 304px;
					}
					.company-information-talbe-value {
						width: 784px;
					}
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.company-information {
		margin-top: 24px;
		.content-container {
			.company-information-talbe {
				font-size: 1.5rem;
				letter-spacing: 0rem;
				.company-information-talbe-row {
					.company-information-talbe-key {
						margin: 12px 0;
						padding: 12px 4px;
						width: 30%;
					}
					.company-information-talbe-value {
						margin: 12px 0;
						padding: 12px 4px;
						width: 70%;
						.company-information-isms {
							margin: 16px 0 0;
							width: 202px;
							.gatsby-image-wrapper {
								height: auto;
								width: 180px!important;
							}
						}
					}
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.company-information {
		margin-top: 24px;
		.content-container {
			.company-information-talbe {
				font-size: 1.4rem;
				letter-spacing: 0rem;
				.company-information-talbe-row {
					.company-information-talbe-key {
						margin: 12px 0;
						padding: 12px 4px;
						width: 30%;
					}
					.company-information-talbe-value {
						margin: 12px 0;
						padding: 12px 4px;
						width: 70%;
						.company-information-isms {
							margin: 16px 0 0;
							img {
								height: auto;
								width: 180px;
							}
						}
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
*  Company Information
*/

.ceo-message {
	.content-container {
		.wrap-content {
			display: flex;
			justify-content: space-between;
			.ceo-message-photo {
				width: calc(var(--columnSize) * 4);
				img {
					height: auto;
					width: 100%;
				}
			}
			.ceo-message-txt {
				padding: 4px 0 0 48px;
				width: calc(var(--columnSize) * 8);
				.ceo-message-copy {
					font-size: 2.4rem;
					margin-bottom: 16px;
				}
				.message-txt2 {
					font-size: 1.6rem;
					margin: 24px 0;
					.main-copy-en {
						font-family: $type-title2-en;
						font-size: 2.4rem;
						font-weight: 700;
					}
				}
				.ceo-message-name {
					margin: 24px 16px 0 0;
					text-align: right;
					.ceo-message-job {
						font-size: 1.5rem;
					}
					.ceo-message-name-jp {
						font-size: 2rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}
//IE11
.ie {
	.ceo-message {
		.content-container {
			.wrap-content {
				.ceo-message-photo {
					width: 384px;
				}
				.ceo-message-txt {
					width: 768px;
				}
			}
		}
	}
}
// Tablet
@media (max-width: 1024px) {
	.ceo-message {
		padding: 64px 0 64px;
		width: 100%;
		.content-container {
			.wrap-content {
				display: flex;
				justify-content: space-between;
				.ceo-message-photo {
					width: 30%;
					img {
						height: auto;
						width: 100%;
					}
				}
				.ceo-message-txt {
					padding: 4px 0 0 32px;
					width: 70%;
					.ceo-message-copy {
						font-size: 1.8rem;
						margin-bottom: 16px;
					}
					.message-txt2 {
						font-size: 1.5rem;
						margin: 24px 0;
						.main-copy-en {
							font-family: $type-title2-en;
							font-size: 2rem;
							font-weight: 700;
						}
					}
					.ceo-message-name {
						margin: 24px 16px 0 0;
						text-align: right;
						.ceo-message-job {
							font-size: 1.5rem;
						}
						.ceo-message-name-jp {
							font-size: 1.8rem;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.ceo-message {
		padding: 64px 0 40px;
		width: 100%;
		.content-container {
			padding: 0 16px;
			.wrap-content {
				display: block;
				.ceo-message-photo {
					height: 320px;
					margin-bottom: 24px;
					overflow: hidden;
					width: 100%;
				}
				.ceo-message-txt {
					padding: 4px 0 0 0;
					width: 100%;
					.ceo-message-copy {
						font-size: 1.8rem;
						margin-bottom: 16px;
					}
					.message-txt2 {
						font-size: 1.6rem;
						margin: 24px 0;
						.main-copy-en {
							font-size: 2rem;
						}
					}
					.ceo-message-name {
						margin: 24px 16px 24px 0;
						.ceo-message-job {
							font-size: 1.3rem;
						}
						.ceo-message-name-jp {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
*  Leadership
*/
.leadership {
	background-color: $bg-light-gray;
	padding: 120px 0 64px;
	.content-container {
		padding: 0 0;
		.sec-leadership-list {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 0 var(--columnSize);
			.wrap-area {
				margin-bottom: 64px;
				padding: 0 32px;
				width: calc(var(--columnSize) * 5);
				.area-content {
					width: 100%;
					.leadership-img {
						width: 100%;
						img {
							height: auto;
							width: 100%;
						}
					}
					.wrap-ttl {
						margin-top: 16px;
						.leadership-name {
							font-size: 1.8rem;
							font-weight: bold;
							margin-bottom: 12px;
						}
					}
				}
			}
		}
	}
}
// IE11
.ie {
	.leadership {
		.content-container {
			padding: 0 0;
			.sec-leadership-list {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				padding: 0 96px;
				.wrap-area {
					width: 480px;
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.leadership {
		padding: 64px 0 40px;
		.content-container {
			padding: 0 8px;
			.sec-leadership-list {
				padding: 0 0;
				.wrap-area {
					margin-bottom: 40px;
					padding: 0 8px;
					width: 50%;
					.area-content {
						width: 100%;
						.leadership-img {
							width: 100%;
						}
						.wrap-ttl {
							margin-top: 8px;
							.leadership-name {
								font-size: 1.6rem;
								margin-bottom: 12px;
							}
							.leadership-profile {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.leadership {
		padding: 64px 0 40px;
		.content-container {
			padding: 0 8px;
			.sec-leadership-list {
				padding: 0 0;
				.wrap-area {
					margin-bottom: 40px;
					padding: 0 8px;
					width: 50%;
					.area-content {
						width: 100%;
						.leadership-img {
							width: 100%;
						}
						.wrap-ttl {
							margin-top: 8px;
							.leadership-name {
								font-size: 1.6rem;
								margin-bottom: 12px;
							}
							.leadership-profile {
								font-size: 1.3rem;
							}
						}
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
*  Access
*/
.access {
	padding: 120px 0 64px;
	.content-container {
		.access-point {
			margin-bottom: 80px;
			width: calc(var(--columnSize) * 12);
			.access-office {
				font-size: 2rem;
				margin-bottom: 8px;
			}
			.access-address {
				margin-bottom: 24px;
			}
			.access-maps {
				display: block;
				height: 450px;
				margin-bottom: 24px;
				overflow: visible;
				position: static;
				width: calc(var(--columnSize) * 12);
				iframe {
					height: 450px;
					width: calc(var(--columnSize) * 12);
				}
			}
			.wrap-btn {
				text-align: center;
			}
		}
	}
}
// IE11
.ie {
	.access {
		.content-container {
			.access-point {
				width: 1152px;

				.access-maps {
					width: 1152px;
					iframe {
						width: 1152px;
					}
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.access {
		padding: 64px 0 40px;
		.content-container {
			.access-point {
				margin-bottom: 80px;
				width: 100%;
				.access-office {
					font-size: 1.6rem;
					margin-bottom: 8px;
				}
				.access-address {
					margin-bottom: 24px;
				}
				.access-maps {
					display: block;
					height: 320px;
					margin-bottom: 24px;
					overflow: visible;
					position: static;
					width: 100%;
					iframe {
						height: 320px;
						width: 100%;
					}
				}
				.wrap-btn {
					text-align: center;
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.access {
		padding: 64px 0 40px;
		.content-container {
			.access-point {
				margin-bottom: 80px;
				width: 100%;
				.access-office {
					font-size: 1.6rem;
					margin-bottom: 8px;
				}
				.access-address {
					margin-bottom: 24px;
				}
				.access-maps {
					display: block;
					height: 320px;
					margin-bottom: 24px;
					overflow: visible;
					position: static;
					width: 100%;
					iframe {
						height: 320px;
						width: 100%;
					}
				}
				.wrap-btn {
					text-align: center;
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
* Workstyle
*/
.workstyle {
	background-color: $bg-light-gray;
	padding: 120px 0 64px;
	.content-container {
		width: calc(var(--columnSize) * 12);
		.workstyle-img {
			height: 480px;
			margin-bottom: 24px;
			width: calc(var(--columnSize) * 12);
			img {
				height: 480px;
				object-fit: cover;
				width: calc(var(--columnSize) * 12);
			}
		}
		.workstyle-txt {
			text-align: center;
			h3 {
				font-size: 2.4rem;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}
}
// IE11
.ie {
	.workstyle {
		.content-container {
			width: 1152px;
			.workstyle-img {
				width: 1152px;
				img {
					font-family: "object-fit: cover;";
					width: 1152px;
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.workstyle {
		padding: 64px 0 64px;
		.content-container {
			width: 100%;
			.workstyle-img {
				height: 320px;
				width: 100%;
				img {
					height: 320px;
					object-fit: cover;
					width: 100%;
				}
			}
			.workstyle-txt {
				text-align: center;
				h3 {
					font-size: 1.8rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.workstyle {
		padding: 64px 0 64px;
		.content-container {
			width: 100%;
			.workstyle-img {
				height: 200px;
				width: 100%;
				img {
					height: 200px;
					object-fit: cover;
					width: 100%;
				}
			}
			.workstyle-txt {
				text-align: center;
				h3 {
					font-size: 1.8rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
* Labo
*/
.labo {
	padding: 120px 0 64px;
	.content-container {
		position: relative;
		width: calc(var(--columnSize) * 12);
		.overlay {
			background-color: rgba(0, 0, 0, .5);
			height: 480px;
			position: absolute;
			width: 100%;
		}
		.labo-video {
			height: 480px;
			margin-bottom: 24px;
			width: calc(var(--columnSize) * 12);
			video {
				height: 480px;
				object-fit: cover;
				width: calc(var(--columnSize) * 12);
			}
		}
		.labo-txt {
			h3 {
				font-size: 2.4rem;
			}
			p {
				font-size: 1.6rem;
			}
		}
	}
}
//IE11
.ie {
	.labo {
		.content-container {
			position: relative;
			width: 1152px;

			.labo-video {
				width: 1152px;
				video {
					font-family: "object-fit: cover;";
					width: 1152px;
				}
			}
		}
	}
}
// Tablet
@media (max-width: 1024px) {
	.labo {
		padding: 64px 0 64px;
		.content-container {
			padding: 0 16px;
			position: relative;
			width: 100%;
			.overlay {
				display: none;
			}
			.labo-video {
				height: 320px;
				margin-bottom: 24px;
				overflow: hidden;
				width: 100%;
				video {
					height: 320px;
					object-fit: cover;
					width: 100%;
				}
			}
			.labo-txt {
				h3 {
					font-size: 1.8rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}
// SP
@media (max-width: 767px) {
	.labo {
		padding: 64px 0 64px;
		.content-container {
			padding: 0 16px;
			position: relative;
			width: 100%;
			.overlay {
				display: none;
			}
			.labo-video {
				height: 200px;
				margin-bottom: 24px;
				overflow: hidden;
				width: 100%;
				video {
					height: 200px;
					object-fit: cover;
					width: 100%;
				}
			}
			.labo-txt {
				h3 {
					font-size: 1.8rem;
				}
				p {
					font-size: 1.4rem;
				}
			}
		}
	}
}