/* ------------------------------------------------------ */
/*
 * Drawer
 */

.drawer {
	background-color: rgba(255, 255, 255, .98);
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: translateX(5%);
	transition: all .4s $custom-eading;
	visibility: hidden;
	width: 100%;
	z-index: 1000;
	.drawer-wrapper {
		margin: 160px auto 0;
		width: calc(var(--columnSize) * 10);
		.drawer-container-top, .drawer-container-bottom {
			display: flex;
			justify-content: space-between;
			margin: 0 0 32px 40px;
			width: 100%;
			section {
				opacity: 0;
				transform: translateX(20px);
				transition: all .5s ease;
				width: calc(var(--columnSize) * 2);
				h4 {
					margin-bottom: 16px;
					a {
						color: $secondary-gray;
						font-family: $type-title2-en;
						font-size: 2rem;
						letter-spacing: .2rem;
						text-decoration: none;
						transition: all .6s ease;
						&:before {
							border-top: 1px solid #aaa;
							box-sizing: border-box;
							content: "";
							left: -40px;
							position: absolute;
							top: 13px;
							width: 24px;
						}
						&:hover {
							opacity: .5;
						}
					}
				}
				ul {
					li {
						margin-bottom: 12px;
						position: relative;
						text-align: left;
						a {
							color: $secondary-gray;
							font-size: 1.6rem;
							letter-spacing: .1rem;
							text-decoration: none;
							transition: all .6s ease;
							&:hover {
								opacity: .5;
							}
						}
					}
				}
			}
			section:nth-child(1) {
				transition-delay: .4s;
			}
			section:nth-child(2) {
				transition-delay: .6s;
			}
			section:nth-child(3) {
				transition-delay: .8s;
			}
			section:nth-child(4) {
				transition-delay: 1s;
			}
			section:nth-child(5) {
				transition-delay: 1.2s;
			}
			section:nth-child(6) {
				transition-delay: 1.4s;
			}
			section:nth-child(7) {
				transition-delay: 1.6s;
			}
			section:nth-child(7) {
				transition-delay: 1.8s;
			}
			section.show {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}
.drawer.show {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;

	ul {
		li.show {
			opacity: 1;
		}
	}
}

// IE11
.ie {
	.drawer {
		.drawer-wrapper {
			width: 960px;
			.drawer-container-top, .drawer-container-bottom {
				section {
					width: 192px;
				}
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.drawer {
		opacity: 0;
		position: fixed;
		transform: translateX(5%);
		visibility: hidden;
		.drawer-wrapper {
			display: block;
			margin: 80px 0 0;
			width: 100%;
			.drawer-container-top, .drawer-container-bottom {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 16px 40px;
				padding: 0 16px 0;
				width: calc(100% - 40px);
				section {
					margin-bottom: 16px;
					opacity: 0;
					transform: translateX(20px);
					width: 120px;
					h4 {
						margin-bottom: 16px;
						a {
							font-size: 1.6rem;
							letter-spacing: .1rem;
						&:before {
								border-top: 1px solid #aaa;
								box-sizing: border-box;
							content: "";
								left: -40px;
								position: absolute;
							top: 13px;
								width: 24px;
						}
					}
				}
					ul {
						li {
							margin-bottom: 16px;
							position: relative;
							text-align: left;
							a {
								color: $secondary-gray;
								font-size: 1.5rem;
			}
		}
	}
		}
			}
		}
	}
}

// SP
@media (max-width: 767px) {
	.drawer {
		opacity: 0;
		position: fixed;
		transform: translateX(5%);
		visibility: hidden;
		.drawer-wrapper {
			display: block;
			margin: 80px 0 0;
			width: 100%;
			.drawer-container-top, .drawer-container-bottom {
				display: flex;
				flex-wrap: wrap;
				margin: 0 0 16px 40px;
				padding: 0 16px 0;
				width: calc(100% - 40px);
				section {
					margin-bottom: 16px;
					opacity: 0;
					transform: translateX(20px);
					width: 120px;
					h4 {
						margin-bottom: 4px;
						a {
							font-size: 1.6rem;
							letter-spacing: .1rem;
							}
						}
					ul {
						li {
							margin-bottom: 4px;
							position: relative;
							text-align: left;
							a {
								font-size: 1.3rem;
								text-decoration: none;
			}
		}
	}
		}
			}
		}
	}
}
