/* --------------------------- */
/*
 * Common Style
 */

div, header, footer, nav, main, section, ul, dl, p {
	box-sizing: border-box;
	width: 100%;
}

li, ol, ul {
	list-style: none;
}

dd, dl, dt {
	margin: 0;
	padding: 0;
}

table, tr, td, th {
	box-sizing: border-box;
}

p {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

section {
	position: relative;
}

.content-container {
	margin: 0 auto;
	padding: 0;
	position: relative;
	width: $container-width;
}
// IE11
.ie {
	.content-container {
		width: 1152px;
	}
}

// Tablet
@media (max-width: 1024px) {
	.content-container {
		margin: 64px 0;
		padding: 0 16px;
		width: 100%;
	}
}

// SP
@media (max-width: 767px) {
	.content-container {
		margin: 64px 0;
		padding: 0 16px;
		width: 100%;
	}
}

.txc {
	text-align: center;
}

.txr {
	text-align: right;
}

.display-none {
	display: none;
}
