/* ------------------------------------------------------ */
/*
 * Area News
 */

.sec-news {
	width: 100%;
	.content-container {
		padding: 0 16px;
		.news-nav {
			border-bottom: 1px solid $secondary-gray;
			font-size: 1.8rem;
			margin: 0 0 16px;
			overflow: hidden;
			li {
				color: $secondary-gray;
				cursor: pointer;
				float: left;
				margin-right: 2rem;
				padding: 8px 16px 4px;
				&:hover {
					border-bottom: 2px $black solid;
					color: $black;
				}
				a {
					text-decoration: none;
				}
			}

			li.current {
				border-bottom: 2px $black solid;
				color: $black;
			}
		}

		.news-list {
			.news-article {
				border-bottom: 1px solid $secondary-lightgray;
				display: flex;
				justify-content: space-around;
				margin: 16px 0;
				padding: 16px 0;
				position: relative;
				width: 100%;

				.news-txt {
					width: 848px;
					time {
						color: $secondary-gray;
						display: block;
						font-size: 1.6rem;
						padding-bottom: 8px;
					}
					.news-ttl {
						margin-bottom: 20px;
						a {
							color: $black;
							font-size: 1.6rem;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					.news-tag {
						a {
							background-color: $bg-light-gray;
							border-radius: 4px;
							color: $black;
							font-size: 1.4rem;
							padding: 8px 8px 8px 24px;
							position: relative;
							&::after {
								color: $secondary-gray;
								content: "#";
								display: block;
								left: 8px;
								position: absolute;
								top: 4px;
							}

							&:hover {
								opacity: .5;
								text-decoration: none;
							}
						}
					}
				}
				.news-img {
					width: 240px;
					img {
						height: auto;
						width: 240px;
					}
				}
			}
		}
	}
	.wrap-btn {
		margin-top: 64px;
		text-align: center;
		a {
			width: calc(var(--gridSize) * 1);
		}
	}
}

// Tablet
@media (max-width: 1024px) {
}

// SP
@media (max-width: 767px) {
	.sec-news {
		width: 100%;
		.content-container {
			padding: 0 16px;
			width: 100%;
			.news-nav {
				font-size: 1.3rem;
				margin: 0 0 16px;
				overflow: hidden;
				width: 100%;
				li {
					float: left;
					margin-right: 0rem;
					padding: 8px 8px 4px;
					// cursor: pointer;
					// color: $secondary-gray;
				}

				// li.current {
				//   color: $black;
				//   border-bottom: 2px $black solid;
				// }
			}

			.news-list {
				.news-article {
					display: block;
					margin: 16px 0;
					padding: 16px 0;
					width: 100%;
					// position: relative;
					// justify-content: space-around;
					// border-bottom: 1px solid $secondary-lightgray;

					.news-txt {
						width: 100%;

						time {
							font-size: 1.3rem;
							// padding-bottom: 8px;
							// display: block;
						}
						.news-ttl {
							margin-bottom: 20px;
							a {
								color: $black;
								font-size: 1.4rem;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
					.news-img {
						width: 160px;
						img {
							height: auto;
							width: 160px;
						}
					}
				}
			}
		}
		.wrap-btn {
			margin-top: 24px;
			// text-align: center;
			// a {
			//   width: calc(var(--gridSize) * 1);
			// }
		}
	}
}

/* ------------------------------------------------------ */
/*
 * News Post
 */

.news-post {
	padding: 64px 0 0;
	width: 100%;
	.wrap-post-ttl {
		margin: 0 auto 16px;
		padding: 0 16px 16px;
		position: relative;
		text-align: left;
		width: $container-width;

		.post-ttl-category {
			color: $secondary-gray;
			font-size: 2.4rem;
			line-height: 1.8;
			margin-bottom: 8px;
		}
		.post-ttl {
			font-family: $type-title-jp;
			font-size: 3.6rem;
			font-weight: 400;
			letter-spacing: -.05rem;
			line-height: 1.4;
			margin: 0 0 8px 0;
			margin-bottom: 16px;
			text-indent: -4px;
			text-transform: uppercase;
			transition: all .3s ease;
		}
		.post-time {
			font-size: 2rem;
			line-height: 1.8;
			margin-bottom: 24px;
		}
	}

	.wrap-post {
		background-color: $bg-light-gray;
		padding: 32px 0 64px;
		width: 100%;
		.content-container {
			background-color: $white;
			margin: 0 auto 0;
			padding: 64px 64px;
			width: $container-width;
			.post-container {
				h2 {
					font-size: 2.4rem;
					margin-bottom: 40px;
					padding-bottom: 24px;
					// text-indent: -30px;
					position: relative;
					&:before {
						border-top: 1px solid $black;
						bottom: 0;
						box-sizing: border-box;
						content: "";
						left: 0;
						position: absolute;
						width: 70px;
					}
				}

				h3 {
					font-size: 1.8rem;
					margin: 40px 0 16px;
					padding-left: 24px;
					position: relative;
					&:before {
						background-color: $black;
						box-sizing: border-box;
						content: "";
						height: 18px;
						left: 0;
						position: absolute;
						top: 4px;
						width: 18px;
					}
				}
				p {
					font-size: 1.6rem;
					line-height: 1.8;
				}
				a {
					color: $black;
					text-decoration: underline;
					&:hover {
						color: $secondary-lightgray;
					}
				}
			}

			.news-nav {
				border-bottom: 1px solid $secondary-gray;
				font-size: 1.8rem;
				margin: 0 0 16px;
				overflow: hidden;
				li {
					color: $secondary-gray;
					cursor: pointer;
					float: left;
					margin-right: 2rem;
					padding: 8px 16px 4px;
					&:hover {
						border-bottom: 2px $black solid;
						color: $black;
					}
				}

				li.current {
					border-bottom: 2px $black solid;
					color: $black;
				}
			}
		}
		.wrap-btn {
			margin-top: 64px;
			text-align: center;
			a {
				width: calc(var(--gridSize) * 1);
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.news-post {
		padding: 40px 0 0;
		width: 100%;
		.wrap-post-ttl {
			margin: 0 0 16px;
			padding: 0 16px 0;
			text-align: left;
			width: 100%;
			.post-ttl-category {
				font-size: 1.6rem;
				line-height: 1.8;
			}
			.post-ttl {
				font-size: 2rem;
			}
			.post-time {
				font-size: 1.4rem;
			}
		}
		.wrap-post {
			padding: 32px 16px 64px;
			width: 100%;
			.content-container {
				margin: 0 0 0;
				padding: 32px 16px;
				width: 100%;
				.post-container {
					h2 {
						font-size: 2rem;
						line-height: 1.8;
					}
					h3 {
						font-size: 1.6rem;
						line-height: 1.8;
						&:before {
							content: "";
							height: 16px;
							width: 16px;
						}
					}
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

// SP
@media (max-width: 767px) {
	.news-post {
		padding: 40px 0 0;
		width: 100%;
		.wrap-post-ttl {
			margin: 0 0 16px;
			padding: 0 16px 0;
			text-align: left;
			width: 100%;
			.post-ttl-category {
				font-size: 1.6rem;
				line-height: 1.8;
			}
			.post-ttl {
				font-size: 2rem;
			}
			.post-time {
				font-size: 1.4rem;
			}
		}

		.wrap-post {
			padding: 32px 16px 64px;
			width: 100%;
			.content-container {
				margin: 0 0 0;
				padding: 32px 16px;
				width: 100%;
				.post-container {
					h2 {
						font-size: 2rem;
						line-height: 1.8;
					}

					h3 {
						font-size: 1.6rem;
						line-height: 1.8;
						&:before {
							content: "";
							height: 16px;
							width: 16px;
						}
					}
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}