/* ------------------------------------------------------ */
/**
*  Privacy Policy
*/

.privacy-policy {
	.sec-container {
		padding: 0 16px;
		.privacy-container {
			margin-bottom: 64px;
			padding: 0;
			width: calc(var(--columnSize) * 12);
			.privacy-ttl {
				font-size: 2.4rem;
				margin-bottom: 16px;
			}
			.privacy-txt {
				font-size: 1.6rem;
				line-height: 1.8;
				margin: 24px 0;
			}
			.privacy-ol {
				margin: 24px 0;
				padding-left: 2.2rem;
				.privacy-decimal {
					list-style: decimal;
					margin-bottom: 16px;
					ul {
						padding-left: 2.2rem;

						.privacy-disc {
							list-style: disc;
							margin-bottom: 8px;
						}
					}
				}
			}
			.ceo-sig {
				margin: 24px 16px 0 0;
				text-align: right;
				p {
					font-size: 1.5rem;
				}
			}
			.corp-contact {
				margin: 24px 16px 0 0;
				text-align: left;
				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}

// IE11
.ie {
	.privacy-policy {
		.sec-container {
			.privacy-container {
				width: 1152px;
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.privacy-policy {
		margin-top: 24px;
		.sec-container {
			padding: 0 16px;
			.privacy-container {
				padding: 0;
				width: 100%;
				.privacy-ttl {
					font-size: 1.8rem;
				}
				.privacy-txt {
					font-size: 1.4rem;
				}
				.privacy-ol {
					font-size: 1.4rem;
					.privacy-decimal {
						margin-bottom: 16px;
					}
				}
				.ceo-sig {
					text-align: right;
					p {
						font-size: 1.4rem;
					}
				}
				.corp-contact {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

// SP
@media (max-width: 767px) {
	.privacy-policy {
		margin-top: 24px;
		.sec-container {
			padding: 0 16px;
			.privacy-container {
				padding: 0;
				width: 100%;
				.privacy-ttl {
					font-size: 1.8rem;
				}
				.privacy-txt {
					font-size: 1.4rem;
				}
				.privacy-ol {
					font-size: 1.4rem;
					.privacy-decimal {
						margin-bottom: 16px;
					}
				}
				.ceo-sig {
					text-align: right;
					p {
						font-size: 1.4rem;
					}
				}
				.corp-contact {
					p {
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

/* ------------------------------------------------------ */
/**
*  Security Policy
*/

.security-policy {
	.sec-container {
		padding: 0 16px 32px;
		.security-container {
			margin-bottom: 64px;
			padding: 0;
			width: calc(var(--columnSize) * 12);
			.security-ttl {
				font-size: 2.4rem;
				margin-bottom: 16px;
			}
			.security-txt {
				font-size: 1.6rem;
				line-height: 1.8;
				margin: 24px 0;
			}
			.ceo-sig {
				margin: 24px 16px 0 0;
				text-align: right;
				p {
					font-size: 1.5rem;
				}
			}
			.security-table {
				border: 1px solid $secondary-lightgray;
				font-size: 1.5rem;
				margin: 16px 0;
				width: 100%;
				.security-talbe-row {
					.security-table-key {
						border: 1px solid $secondary-lightgray;
						font-weight: bold;
						padding: 16px;
						text-align: left;
					}
					.security-table-value {
						border: 1px solid $secondary-lightgray;
						padding: 16px;
					}
					.security-table-value.txc {
						font-size: 1.8rem;
					}
				}
			}
			.security-ol {
				margin: 8px 0;
				padding-left: 2.2rem;
				.security-decimal {
					list-style: decimal;
					margin-bottom: 16px;
				}
			}
		}
	}
}

// IE11
.ie {
	.security-policy {
		.sec-container {
			.security-container {
				width: 1152px;
			}
		}
	}
}

// Tablet
@media (max-width: 1024px) {
	.security-policy {
		margin-top: 24px;
		.sec-container {
			.security-container {
				padding: 0;
				width: 100%;
				.security-ttl {
					font-size: 1.8rem;
				}
				.security-txt {
					font-size: 1.4rem;
				}
				.ceo-sig {
					p {
						font-size: 1.4rem;
					}
				}
				.security-table {
					font-size: 1.4rem;
					width: 100%;
					.security-talbe-row {
						.security-table-key {
							font-size: 1.4rem;
							padding: 8px;
						}
						.security-table-value {
							padding: 8px;
						}
						.security-table-value.txc {
							font-size: 1.4rem;
						}
					}
				}
				.security-ol {
					font-size: 1.4rem;
				}
			}
		}
	}
}

// SP
@media (max-width: 767px) {
	.security-policy {
		margin-top: 24px;
		.sec-container {
			.security-container {
				padding: 0;
				width: 100%;
				.security-ttl {
					font-size: 1.8rem;
				}
				.security-txt {
					font-size: 1.4rem;
				}
				.ceo-sig {
					p {
						font-size: 1.4rem;
					}
				}
				.security-table {
					font-size: 1.4rem;
					width: 100%;
					.security-talbe-row {
						.security-table-key {
							font-size: 1.4rem;
							padding: 8px;
						}
						.security-table-value {
							padding: 8px;
						}
						.security-table-value.txc {
							font-size: 1.4rem;
						}
					}
				}
				.security-ol {
					font-size: 1.4rem;
				}
			}
		}
	}
}
