/* ------------------------------------------------------ */
/*
 * Section
 */

.sec {
	// margin-bottom: 120px;
	padding: 120px 0 96px;
	.wrap-sec-ttl {
		margin: 0 auto 64px;
		padding: 0 16px 16px;
		position: relative;
		text-align: left;
		width: $container-width;

		&:before {
			border-top: 1px solid $black;
			bottom: 0;
			box-sizing: border-box;
			content: "";
			left: 16px;
			position: absolute;
			transition: all .5s .5s ease-in-out;
			width: 0;
		}
		.sec-ttl-en {
			font-family: $type-title2-en;
			font-size: 6rem;
			font-weight: 400;
			letter-spacing: 0;
			line-height: 1;
			margin: 0 0 8px 0;
			margin-bottom: 0;
			// text-transform: uppercase;
			text-indent: -4px;
			transition: all .3s ease;

			span {
				display: inline-block; /* これがないとspanは移動しない */
				opacity: 0;
				padding-right: .6rem;
				transition: all .3s .5s ease-in-out;
				&:nth-of-type(odd) {
					transform: translateY(40px);
				}
				&:nth-of-type(even) {
					transform: translateY(-40px);
				}

				@for $i from 1 through 30 {
					&:nth-child(#{$i}) {
						transition-delay: #{$i * .1}s;
					}
				}
			}
		}

		.sec-ttl-jp {
			font-family: $type-title-jp;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 1.8;
		}
	}
	.wrap-sec-ttl.show {
		&:before {
			width: 80px;
		}
		.sec-ttl-en {
			span {
				opacity: 1;
				transform: translateY(0);
			}
		}
		.sec-ttl-jp {
			transition-delay: 1s;
		}
	}
	.wrap-sec-ttl.no-sc-f {
		&:before {
			width: 80px;
		}
		.sec-ttl-en {
			span {
				opacity: 1;
			}
		}
	}

	.sec-container, .content-container {
		margin: 0 auto 64px;
		padding: 0 16px;
		width: $container-width;
	}
}

// English

.en {
	.sec {
		.wrap-sec-ttl {
			.sec-ttl-jp {
				// display: none;
			}
		}
	}
}

// Tablet
@media (max-width: 1023px) {
	.sec {
		padding: 64px 0;
	}
}

// SP
@media (max-width: 767px) {
	// .sec {
	//   padding: 64px 0;
	//   .wrap-sec-ttl {
	//     padding: 0 16px;
	//     .sec-ttl-en {
	//       font-size: 2.8rem;
	//     }
	//     .sec-ttl-jp {
	//       font-size: 1.5rem;
	//     }
	//   }
	// }
	.sec {
		// margin-bottom: 120px;
		padding: 64px 0 40px;
		.wrap-sec-ttl {
			margin: 0 0 32px;
			padding: 0 16px 16px;
			position: relative;
			text-align: left;
			width: 100%;

			&:before {
				border-top: 1px solid $black;
				bottom: 0;
				box-sizing: border-box;
				content: "";
				left: 16px;
				position: absolute;
				transition: all .5s .5s ease-in-out;
				width: 0;
			}
			.sec-ttl-en {
				// font-family: $type-title2-en;
				font-size: 3.2rem;
				font-weight: 400;
				letter-spacing: -.2rem;
				line-height: 1;
				margin: 0 0 4px 0;
				text-indent: 0;
				transition: all .3s ease;

				// span {
				//   opacity: 0;
				//   transition: all 0.3s 0.5s ease-in-out;
				//   display: inline-block; /* これがないとspanは移動しない */
				//   padding-right: 0.6rem;
				//   &:nth-of-type(odd) {
				//     transform: translateY(40px);
				//   }
				//   &:nth-of-type(even) {
				//     transform: translateY(-40px);
				//   }

				//   @for $i from 1 through 30 {
				//     &:nth-child(#{$i}) {
				//       transition-delay: #{$i * 0.1}s;
				//     }
				//   }
				// }
			}

			.sec-ttl-jp {
				font-size: 1.4rem;
				line-height: 1.8;
			}
		}
		.wrap-sec-ttl.show {
			&:before {
				width: 64px;
			}
			.sec-ttl-en {
				span {
					opacity: 1;
					transform: translateY(0);
				}
			}
			.sec-ttl-jp {
				transition-delay: 1s;
			}
		}
		.wrap-sec-ttl.no-sc-f {
			&:before {
				width: 80px;
			}
			.sec-ttl-en {
				span {
					opacity: 1;
				}
			}
		}

		.sec-container, .content-container {
			margin: 0 0 0;
			padding: 0 16px;
			width: 100%;
		}
	}
}

/* ------------------------------------------------------ */
/*
 * Area
 */

// .area {
//   width: 100%;
//   // height: 480px;
//   background-color: #fff;
//   position: relative;
//   // overflow: hidden;
//   display: block;
//   /* IE対策に追加 */

//   text-decoration: none;
//   display: block;
//   width: 100%;
//   // height: 480px;
//   color: $white;

//   .overlay {
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.5);
//     position: absolute;
//     left: 0;
//     top: 0;
//     transition: all 0.3s ease;
//     z-index: 3;
//   }

//   .dot-img {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top: 0;
//     z-index: 1;
//     background: url(/images/dot.png) 0 0 repeat;
//     background-size: 2px;
//     opacity: 0.2;
//     transition: all 1.2s 0.2s ease-out;
//   }

//   .area-container {
//     position: relative;
//     z-index: 5;
//     width: $container-width;
//     margin: 0 auto;
//     .wrap-btn {
//       .btn-s {
//         a {
//           background-color: rgba(255, 255, 255, 0);
//           color: $white;
//           border: 1px $white solid;
//           display: inline;
//           padding: 12px 40px 12px 24px;
//           border-radius: 4px;
//           position: relative;
//           display: inline;

//           .btn-txt {
//             font-size: 1.4rem;
//             letter-spacing: 0.2rem;
//           }
//           .btn-ar {
//             height: 17px;
//             transform: translate(0, -1px);
//             transition: all 0.5s ease-out;
//             position: absolute;
//           }
//         }
//       }
//     }
//   }
// }

// // Tablet
// @media (max-width: 1024px) {
//   .area {
//     width: 100%;
//     height: 400px;
//     position: relative;

//     a {
//       .area-container {
//         position: relative;
//         z-index: 5;

//         // .wrap-btn {
//         //   margin-top: 32px;
//         //   .btn-s {
//         //     background-color: rgba(255, 255, 255, 0);
//         //     color: $white;
//         //     border: 1px $white solid;
//         //     display: inline;
//         //     padding: 12px 40px 12px 24px;
//         //     border-radius: 4px;
//         //     position: relative;
//         //     display: inline;

//         //     .btn-txt {
//         //       font-size: 1.4rem;
//         //       letter-spacing: 0.2rem;
//         //     }
//         //     .btn-ar {
//         //       height: 17px;
//         //       transform: translate(0, -1px);
//         //       transition: all 0.5s ease-out;
//         //       position: absolute;
//         //     }
//         //   }
//         // }
//       }
//     }
//   }
// }

// // SP
// @media (max-width: 767px) {
//   .area {
//     width: 100%;
//     height: 400px;
//     position: relative;

//     a {
//       .area-container {
//         position: relative;
//         z-index: 5;

//         .wrap-btn {
//           margin-top: 32px;
//           .btn-s {
//             background-color: rgba(255, 255, 255, 0);
//             color: $white;
//             border: 1px $white solid;
//             display: inline;
//             padding: 12px 40px 12px 24px;
//             border-radius: 4px;
//             position: relative;
//             display: inline;

//             .btn-txt {
//               font-size: 1.4rem;
//               letter-spacing: 0.2rem;
//             }
//             .btn-ar {
//               height: 17px;
//               transform: translate(0, -1px);
//               transition: all 0.5s ease-out;
//               position: absolute;
//             }
//           }
//         }
//       }
//     }
//   }
// }